:root {
  --first-text-color: white;
  --second-text-color: #333333;
  --first-background-color: #8d86c9;
  --second-background-color: #f7ece1;
}

body {
  background-image: url(/assets/images/Header-background.jpg);
  background-size: 100vw 1000px;
  background-repeat: no-repeat;
  font-family: "Gilroy";
  font-style: normal;
  color: var(--second-text-color);
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: 0 auto;
}

/* header + banner start */

.navbar {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a.nav-item {
  color: var(--first-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  margin-right: 30px;
}

a.nav-item:last-child {
  margin-right: 0;
}

a {
  transition: color 0.3s linear;
  text-decoration: none;
}

a:hover {
  color: var(--second-text-color);
}

.header hr {
  background-color: rgba(255, 255, 255, 0.3);
  height: 1px;
  border: none;
  margin-top: 2%;
}

.title-container {
  max-width: 633px;
  height: 200px;
  margin: 200px 0 60px;
}

.title-container h1 {
  color: var(--first-text-color);
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  margin-top: 20%;
}

.video {
  margin-top: 60px;
  width: 270px;
  display: flex;
  justify-content: space-between;
}

.video-caption {
  margin-top: 15px;
  margin-left: 30px;
  color: var(--first-text-color);
  font-weight: 600;
  font-size: 18px;
}

.container-cards-info {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 196px;
}

.card-info {
  width: 100%;
  background-color: var(--first-background-color);
  color: var(--first-text-color);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 36px 54px 40px 36px;
}

.card-info .title {
  font-weight: 600;
  font-size: 18px;
}

.card-info .topic {
  font-weight: 700;
  font-size: 24px;
  margin-top: 16px;
}

.card-info__texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* header + banner end */

/* container-cards-photo start */

.photo {
  margin: 150px auto;
}

.container-cards-photo {
  display: flex;
  gap: 24px;
  width: 100%;
  justify-content: center;
}

.card-photo {
  width: 32%;
  border: 1px solid var(--second-background-color);
  padding: 25px 20px;

  font-weight: 700;
  font-size: 27px;
  line-height: 140%;
  color: var(--first-text-color);
  text-align: center;
}

.card-photo #photo-one {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/assets/images/section-3-cards-1.jpg);
  background-size: cover;
  height: 100%;
}

.card-photo #photo-two {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/assets/images/section-3-cards-2.jpg);
  background-size: cover;
  height: 100%;
}

.card-photo #photo-three {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/assets/images/section-3-cards-3.jpg);
  background-size: cover;
  height: 100%;
}

div[id^="photo"] {
  display: flex;
  justify-content: center;
}

div[id^="photo"] h3 {
  width: 310px;
  height: 76px;
  padding-top: 334px;
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 27px;
  line-height: 140%;
}

/* container-cards-photo end */

/*sport-club start*/

.container-sport-club {
  display: flex;
  width: 80%;
  height: 60vh;
  margin: 0 auto;
}

.sport-club-img {
  width: 27.4vw;
  margin: 70px 0px;
  z-index: 1;
}

.sport-club-info {
  width: 33.125vw;
  margin-left: -4.5vw;
  background-color: var(--second-background-color);
  padding: 6.5vh 3.1vw 7.8vh 7.6vw;
}

.sport-club-info__description p {
  width: 22.4vw;
  margin-bottom: 1vh;

  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.container-sport-club ul {
  list-style-image: url(/assets/icons/Marcus.svg);
  position: relative;
  left: 0.5vw;

  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.container-sport-club li {
  margin-bottom: 1vh;
}

.container-sport-club li span {
  position: relative;
  display: block;
  width: 20.8vw;
  text-align: left;
  left: 1vw;
}

/*sport-club end*/

/*coaches start*/

section.coaches {
  margin: 15vh 0;
}

.coaches h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 140%;
}

.section__header {
  display: flex;
  justify-content: space-between;
}

.section__header li {
  list-style: none;
}

.section__header__buttons {
  display: flex;
  gap: 15px;
  margin-top: 0;
}

.section__header__buttons button {
  width: 40px;
  height: 40px;
  background-color: var(--first-background-color);
  border: none;
  margin: 29.8px auto;

  transition: background-color 0.3s;
}

.section__header__buttons button:hover {
  background-color: var(--second-background-color);
  cursor: pointer;
}

.section__header__buttons button:active {
  background-color: var(--first-background-color);
}

.button-left {
  background: url(/assets/icons/Button-arrow-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 40%;
}

.button-right {
  background: url(/assets/icons/Button-arrow-left.svg);
  background-repeat: no-repeat;
  transform: scaleX(-1);
  background-position: center;
  height: 40%;
}

.coaches__cards {
  display: flex;
  gap: 1.25vw;
  justify-content: center;
  margin-top: 7vh;
}

.coaches__cards__item {
  width: 17%;
}

.coaches__cards__border {
  height: 22.2vh;
  border: 1px solid var(--second-background-color);
  padding: 0 0.15vw;
}

.coaches__cards__border img {
  display: block;
  margin: 0 auto;
}

.coaches__name {
  font-size: 21px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  margin-top: 2.3vh;
}

.coaches__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  margin-top: 1.4vh;
  width: 10.25vw;
}

/*coaches end*/

/*price_and_services start*/

.price_and_services {
  display: flex;
}

.price_and_services > section {
  width: 50%;
  margin: 17vh auto;
}

.price_and_services h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
}

/*price start*/

.price__buttons {
  margin-top: 9vh;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.price__buttons__item {
  background-color: var(--first-background-color);
  border: none;
  text-align: center;
  vertical-align: middle;
  padding: 0 6%;
  width: 78%;
  height: 6vh;
  list-style-type: none;
}

.price__buttons__item > a {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--first-text-color);
  font-weight: 600;
  font-size: 21px;
  line-height: 20%;
}

.price__buttons__item > a > h4:hover {
  color: var(--first-background-color);
  -webkit-text-stroke: 1px var(--first-text-color);
}

/*price end*/

/*services start*/

.services__container {
  height: 27vh;
  border: 1px solid var(--second-background-color);
  padding: 30px 25px;
  margin-top: 10%;
}

.services__container .cafe {
  background: url(/assets/images/Services-cafe.png);
  background-size: cover;
  height: 100%;
}

.cafe h3 {
  font-size: 27px;
  font-weight: 700;
  line-height: 140%;
  color: var(--first-text-color);
  padding-top: 20vh;
  padding-left: 2vw;
}

/*services end*/

/*price_and_services end*/

/*footer start*/

.footer {
  background-color: var(--second-background-color);
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
  height: 12vh;
  display: flex;
  align-items: center;
  gap: 8%;
}

.footer__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  opacity: 0.3;
}

.footer-page-nav {
  width: 55%;
  display: flex;
  justify-content: center;
  gap: 3%;
}

.footer-page-nav__item {
  text-decoration: none;
  color: var(--second-text-color);
}

.soc-icons {
  display: flex;
  width: 8%;
  gap: 1.3vw;
}

/*footer end*/
